*{
    margin: 0px;
    padding: 0px;
}
 
.InfoPrincipal{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.InfoPrincipal header,
.InfoPrincipal footer{
    width: 100%;
    background-color: #1e7fb3;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InfoPrincipal .PerInfo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.PerInfo article{
    width: calc(100% - 200px);
    height: calc(100vh - 360px);
}

.PerInfo ul{
    width: 200px;
    background-color: #7dc7ff;
    height: calc(100vh - 300px);
}

.titulo-lol{
    color: #2b2b2b;
}
 
/*.fotodeperfil{
    width:100%;
    height:50%;
}*/

/*h1{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    text-align: center;
    width: 100%;
    height: 30px;
    border: 5px solid rgb(0, 0, 74);
}
.PerInfo .name{
    top: 107px;
    width: 25%;
    height: 40%;
    position: absolute;
    right: 15%;
}
.ocupacion{
    top: 168px;
    width: 25%;
    height: 40%;
    position: absolute;
    right: 8%;
}*/
